.elementor-1076 .elementor-element.elementor-element-d625408 .premium-cf7-container input.wpcf7-text, .elementor-1076 .elementor-element.elementor-element-d625408 .premium-cf7-container .wpcf7-file{width:100%;}.elementor-1076 .elementor-element.elementor-element-d625408 .premium-cf7-container textarea.wpcf7-textarea{width:100%;}.elementor-1076 .elementor-element.elementor-element-d625408 .premium-cf7-container input.wpcf7-submit{width:428px;height:35px;}.elementor-1076 .elementor-element.elementor-element-d625408 .premium-cf7-container input, .elementor-1076 .elementor-element.elementor-element-d625408 .premium-cf7-container textarea{border-radius:5px 5px 5px 5px;}#elementor-popup-modal-1076 .dialog-message{width:640px;height:auto;}#elementor-popup-modal-1076{justify-content:center;align-items:center;pointer-events:all;background-color:rgba(0,0,0,.8);}#elementor-popup-modal-1076 .dialog-close-button{display:block;}#elementor-popup-modal-1076 .dialog-widget-content{box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}/* Start custom CSS for premium-contact-form, class: .elementor-element-d625408 */.elementor-1076 .elementor-element.elementor-element-d625408 .submit-button {
    text-align: center;
}

.elementor-1076 .elementor-element.elementor-element-d625408 .wpcf7-submit {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #109A2C;
    border-radius: 30px !important;
    padding: 7px 20px 7px 20px;
    min-width: 285px;
    background: #fff;
    color: #109A2C;
}

.elementor-1076 .elementor-element.elementor-element-d625408 .wpcf7-submit:hover {
    background: #109A2C;
    color: #fff;
}

.elementor-1076 .elementor-element.elementor-element-d625408 h2 {
    color: #109A2C;
    font-family: "Roboto Slab", Sans-serif;
    font-size: 36px;
    font-weight: 700;
}/* End custom CSS */